div {
  font-family: Helvetica, sans-serif;
  color: #F0E9D2;
}

.nav {
  display: flex;
  background-color: #181D31;
  justify-content: space-between;
  padding: 8px;
}

.navbar-items {
  display: flex;
  margin-right: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  margin: 23px;
  background-color: #181D31;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.card--img {
  padding: 14px;
  max-width: 230px;
}

.card--desc {
  margin-bottom: 9px;
  padding: 7px;
}

.donList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.info {
  margin: 23px;
  color: #E6DDC4;
}

.info--text{
  padding: 7px;
  font-weight: bold;
  border-radius: 9px;
  background-color: #181D31;
}