@tailwind base;
/*Custom scrollbar src: https://scottspence.com/posts/change-scrollbar-color-tailwind-css#tailwind-example */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: black;
}   

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 14px;
}

@tailwind components;
@tailwind utilities;
/*
colors:
    background: #678983
    text: #F0E9D2
    text-darker: #bfb9a6
    text-darkest: #918c7d
    obj-background: #181D31
*/